.logo-carousel {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    place-content: center;
    padding: 3rem 0;
    background: #000000;

    cursor: grab;
}

.logo-carousel:active {
    cursor: grabbing;
}

.logo-track {
    display: flex;
    width: max-content;
    will-change: transform;
}

.logo-item {
    width: 160px;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-item img {
    max-width: 90px;
    filter: grayscale(100%) brightness(1.1);
}