.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* PROMO */
.nav-promo{
    cursor: pointer;
    text-align: center;;
    border-bottom: 1px solid white;
    padding: 7px 15px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(123, 41, 255);
    cursor: pointer;
    transition: 0.8s;   
}

.nav-buttons{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;   
}

.nav-buttons:hover{
    border: 1px solid rgb(123, 41, 255);
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #7b29ff;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;   
}

/* Visible */
.nav-promo.open {
    height: 2rem;
    opacity: 1;
    transform: translateY(0);
}

/* Oculta y colapsada */
.nav-promo.closed {
    border: none;
    padding: 0;
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
}

/* HEADER */
.hero-header {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

/*LISTA*/
li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s;
}

li a:hover {
    color: #7b29ff;
    transition: 0.4s;
}

.img-logo{
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.img-logo:hover{
    border: 1px solid rgb(123, 41, 255);
    box-shadow: 0 0 15px rgb(123, 41, 255); 
    transition: 0.4s;
}

