body{
    background-color: black;
}

.products-section{
    height: 300vh;
    margin-top: 10rem;
}

.web-apps-section{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
}

.web-text-icons-section{
    display: flex;
    flex-direction: row;
    gap: 22rem;
}

.app-text-icons-section{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20rem;
}