body{
    background-color: black;
}

.products-section{
    height: 365vh;
    margin-top: 10rem;
}

.web-apps-section{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
}

.web-text-icons-section{
    display: flex;
    flex-direction: row;
    gap: 18rem;
}

.app-text-icons-section{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15rem;
}

.custom-icons-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13rem;
}

.ai-section{
    display: flex;
    flex-direction: column;
}

.ai-icons-section{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 18rem;
}

.automation-section{
    display: flex;
    flex-direction: column;
}

.automation-icons-section{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10rem;
}


